<template name="Header">
    <div class="ui top fixed borderless inverted menu">
  <div class="ui container">
      <a class="item" href="{{pathFor 'Home_Page'}}"><img src="/images/logo.png" class="ui medium circular image"/></a>
      <a class="item right" href="{{pathFor 'Menu'}}"><h1>Menu</h1></a>
      <a class="item" href="{{pathFor 'Calendar'}}"><h1>Calendar</h1></a>
      <a class="item" href="{{pathFor 'Map'}}"><h1>Map</h1></a>
    <a class="item" href="{{pathFor 'Search_For_Page'}}"><h1>Search</h1></a>
      {{> Cas_Login }}
    </div>
  </div>
</template>